.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.e {
  width: 32px;
  height: 47px;
  font-family: Poppins;
  font-size: 33px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #eb2929;
}
.header{
  width: 1730px;
  height: 80px;
  margin: 0 0 37px;
  padding: 15px 101px 13px 102px;
  background-color: red;
}
.Ellipse{
  width: 52px;
  height: 52px;
  margin: 0 861px 0 0;
  padding: 1px 10px 4px;
  border-radius: 50px;
  background-color: var(--white);
}
.Login{
  width: 60px;
  height: 30px;
  margin: 0px 0px 1700px 0;
  text-align: right;
  color: var(--white);
  background-color: red;
}
.create{
  width: 181px;
  height: 46px;
  margin: 0 0 0 26px;
  padding: 12px 14px 11px 15px;
  border-radius: 3px;
  background-color: red;
  color: var(--white);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
